body
{
	background-color: red;	
}

.bodyWrap
{
	margin: 10px 20px;
	min-height: 600px;
}

.buttons
{
	padding: auto;
	margin-left: 150px;
}

input.random
{
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 150px;
}

input.upload
{
	margin-left: 170px;
	margin-bottom: 10px;
}

.wrapper
{
	width: 500px;
	margin: 0px auto;
	border: 1px solid black;
	border-radius: 10px;
	background-color: #0066FF;
}

.wrapperTopTen
{
	width: 500px;
	height: 600px;
	margin: 0px auto;
	border: 1px solid black;
	border-radius: 10px;
	background-color: #0066FF;
	padding-top: 20px;
}

#rating
{
	text-align:center;
	font-size:23px;
	border:solid black 1px;
	height:25px;
	width:50px;
	background-color: white;
}

img
{
	height: 25px;
	width:25px;
}

.table th
{
	text-align: center;
}

.update .title 
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 20px;
}

.update .author 
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 20px;
}

.update .poem 
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

table .highestRated
{
	position: left;
}

textarea, .submit 
{
	display: block;
	margin: auto;
	margin-bottom: 20px;
}

.footer
{
	padding: 10px 20px;
	margin: auto;
	border-top: 0.5px double #444;
	font-size: 10px;
}